.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 104px;
}

.footer__media-container {
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__copyright {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 22px;
    color: rgb(182, 188, 191);
    margin-top: 32px;
    margin-bottom: 26px;
    width: 220px;
}

.footer__link {
    width: 224px;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: rgba(55, 73, 155, 1);
    text-decoration: none;
    font-family: 'Roboto';
    border: 1px solid rgba(55, 73, 155, 1);
    background-color: white;
}

.footer__link:hover {
    cursor: pointer;
    opacity: 0.7;
}

.footer__media {
    margin-left: 14px;
    margin-right: 14px;
    transition: opacity 0.6s;
    object-position: center;
    object-fit: cover;
}

.footer__media:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (max-width: 800px) {
    .footer {
        padding: 0 40px;
    }
    .footer__link {
        width: 180px;
        font-size: 18px;
    }
    .footer__copyright {
        font-family: 'Roboto';
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (max-width: 500px) {
    .footer {
        padding: 0 16px;
        flex-direction: column;
    }
    .footer__container {
        width: 100%;
    }
    .footer__copyright {
        margin: 10px auto;
        order: 2;
    }
    .footer__container {
        justify-content: space-between;
    }

    .footer__link {
        width: 140px;
        font-size: 14px;
        margin: 16px auto;
    }
}